*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0 auto;
    
}

.main{
    margin: 0 auto;
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    justify-content:   center ;
    align-items: center;
    background-color: rgb(208, 212, 212);
}

.mainContainer{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}


.input{
    padding: 1rem 2rem;
}

.submitButton{
    padding: 0.5rem 1.5rem;
    color: white;
    background-color: rgb(58, 56, 56);
}

.editButton{
    padding: 0.5rem 1.5rem;
}

.deleteButton{
    padding: 0.5rem 1.5rem;
}